<div class="container">
    <h1>Editar Curso</h1>
    <form [formGroup]="formCourse" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input id="name" formControlName="name" class="form-control" />
      </div>
      <div class="form-group">
        <label for="description">Descripción</label>
        <input id="description" formControlName="description" class="form-control" />
      </div>
      <div class="form-group">
        <label for="duration">Duración (en horas)</label>
        <input id="duration" formControlName="duration" class="form-control" type="number" />
      </div>
      <div class="form-group">
        <label for="dateStart">Fecha de Inicio</label>
        <input id="dateStart" formControlName="dateStart" class="form-control" type="date" />
      </div>
      <div class="form-group">
        <label for="dateEnd">Fecha de Fin</label>
        <input id="dateEnd" formControlName="dateEnd" class="form-control" type="date" />
      </div>
      <div class="form-group">
        <label for="imageUrl">URL de la imagen</label>
        <input id="imageUrl" formControlName="imageUrl" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary mt-3">Actualizar Curso</button>
    </form>
  </div>
  