<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6" >
    <h1 class="text-center mb-5">Editar Curso</h1>
    <form [formGroup]="formCourse" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input id="name" formControlName="name" class="form-control" />
      </div>
      <div class="form-group">
        <label for="description">Descripción</label>
        <input id="description" formControlName="description" class="form-control" />
      </div>
      <div class="form-group">
        <label for="duration">Duración (en horas)</label>
        <input id="duration" formControlName="duration" class="form-control" type="number" />
      </div>
      <div class="form-group">
        <label for="dateStart">Fecha de Inicio</label>
        <input id="dateStart" formControlName="dateStart" class="form-control" type="date" />
      </div>
      <div class="form-group">
        <label for="dateEnd">Fecha de Fin</label>
        <input id="dateEnd" formControlName="dateEnd" class="form-control" type="date" />
      </div>
      <div class="form-group">
        <label for="imageUrl">URL de la imagen</label>
        <input id="imageUrl" formControlName="imageUrl" class="form-control" />
      </div>
      <div class="text-center mt-8 mb-5">
        <button type="submit" class="btn btn-primary mt-3">Editar Curso</button>
      </div>
    </form>
  </div>
</div>