<div class="container mt-4">
    <h2>Agregar Curso</h2>
    
    <form [formGroup]="formCourse" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nombre del Curso</label>
        <input 
          type="text" 
          id="name" 
          class="form-control" 
          formControlName="name" 
          placeholder="Ingrese el nombre del curso" 
          required
        />
      </div>
  
      <div class="form-group mt-3">
        <label for="description">Descripción</label>
        <textarea 
          id="description" 
          class="form-control" 
          formControlName="description" 
          placeholder="Ingrese la descripción del curso" 
          required
        ></textarea>
      </div>
  
      <div class="form-group mt-3">
        <label for="duration">Duración (en horas)</label>
        <input 
          type="number" 
          id="duration" 
          class="form-control" 
          formControlName="duration" 
          placeholder="Ingrese la duración del curso en horas" 
          required
        />
      </div>
  
      <div class="form-group mt-3">
        <label for="dateStart">Fecha de Inicio</label>
        <input 
          type="date" 
          id="dateStart" 
          class="form-control" 
          formControlName="dateStart" 
          required
        />
      </div>
  
      <div class="form-group mt-3">
        <label for="dateEnd">Fecha de Fin</label>
        <input 
          type="date" 
          id="dateEnd" 
          class="form-control" 
          formControlName="dateEnd" 
          required
        />
      </div>
  
      <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary" [disabled]="formCourse.invalid">
          Agregar Curso
        </button>
      </div>
    </form>
  </div>
  